.App.container {
  text-align: center;
}

.App>h1 a {
  text-decoration: underline;
  color: lightseagreen;
}

.nav-tabs {
  margin-bottom: 15px;
}

.done_task_text {
  text-decoration: line-through;
}
.done_task_item {
  background: lightgrey;
}

.width-90 {
  float: right;
  width: 90%;
  margin-bottom: 15px;
}

.width-100 {
  width: 100%;
}

.align_left {
  text-align: left;
  overflow: hidden;
}

.width-45 {
  width: 45%;
  margin: 0px 2px;
}

.right_float {
  float: right;
}

.list-group {
  font-size: 1.3rem;
}

.list-group-item {
  padding-right: 0px;
  padding-left: 0px;
}

.no-padding {
  padding-right: 0px;
}

input[type='checkbox'] {
  transform: scale(1.5);
  margin-left: 5px;
}
